<div id="add">
    <h3>Añadir película</h3>
    <br />
    <div class="container ">
        <form method="POST">
            <div class=" imput">
                <label for="titulo" class="label">Título</label>
                <input type="text" class="form-control" id="titulo" name="title" />

                <label for="director" class="label">Director</label>
                <input type="text" class="form-control" id="director" name="director" />

                <label for="stars" class="label">Stars</label>
                <input type="text" class="form-control" id="stars" name="stars" />

                <label for="image" class="label">Image</label>
                <input type="text" class="form-control" id="image" name="image" />

                <label for="description" class="label">Description</label>
                <input type="text" class="form-control" id="description" name="description" />

                <label for="showtimes" class="label">Showtimes</label>
                <input type="text" class="form-control" id="showtimes" name="showtimes" />

            </div>
            <button type="submit" class="btn btn-primary">Crear película</button>
        </form>
    </div>
</div>